#top {

	border:1px #cbdbfd solid;
	border-top:0px;
	margin: 8px 0px 0px 0px;
	padding-bottom:1px;
	display:block;
	width:100%;
	position:relative;
}
#menu,#menu * {
	margin:0;
	padding:0;
	list-style:none;
}
#menu {
	line-height:1.0;
}
#menu ul {
	position:absolute;
	top:-999em;
	width:12em; /* left offset of submenus need to match (see below) */
}
#menu ul li {
	width:100%;
}
#menu li:hover {
	visibility:inherit; /* fixes IE7 'sticky bug' */
}
#menu li {
	float:left;
	position:relative;
}
#menu a {
	display:block;
	position: relative;
	border-left:#F6F6F6 1px solid;
	display: inline-block;
	padding: 8px 8px;
}
#menu li:hover ul,#menu li.sfHover ul {
	left:0;
	top:2.5em; /* match top ul list item height */
	z-index:99;
}
ul#menu li:hover li ul,ul#menu li.sfHover li ul {
	top: -999em;
}
ul#menu li li:hover ul,ul#menu li li.sfHover ul {
	left:12em; /* match ul width */
	top:0;
}
ul#menu li li:hover li ul,ul#menu li li.sfHover li ul {
	top: -999em;
}
ul#menu li li li:hover ul,ul#menu li li li.sfHover ul {
	left:12em; /* match ul width */
	top:0;
}
table.form td input{height:26px;}

table.form th {
	background:#f1f5f9;
	text-align:right;
	color:#2a2a2a;
	width:150px;
}
input.btn, btn.btn {
    margin-right: 4px;
    padding: 4px 1px;
}

.form input:after, .form textarea:after, .form select:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.btn span {
    float: none;
    display: inline;
}
.btn,.btn-red,.btn-green{
   display: inline-block;
   padding: 5px 10px;
   color: #2a2a2a;
   PADDING: 3px 2px 2px 2px;
   font: 12px ו,"Trebuchet MS", Arial, sans-serif;
   background: red;
   margin-left:3px;
   FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#FFFFFF, EndColorStr=#D7E7FA);
   background-repeat: no-repeat;
   background-position:2px 2px;
   CURSOR: point; COLOR:#333;
   border:0px;
}
