@charset "UTF-8";
@import url("framework.css");
body {
	font-family: ו,"Helvetica Neue", Helvetica, Arial, sans-serif;
	background-repeat: repeat-x;
	background-color: #ffffff;
	font-size:12px;
	color: #222222;
}

.table [class*="grid"], .table_form [class*="grid"] {
	margin-left: 0px;
	float: none;
}

.table_form .grid12 { width: 100%; }

a{
	text-decoration: none;
	color: #222222;
}
a:hover 
{
    color: #5086a5; 
    text-decoration: underline;
    font-size: 12px;
}
a:visited 
{
    color: #5086a5;
    font-size: 12px;
}




#page {
	
    margin: 0px auto;
	width:98%;
}
#page h4 {
	padding-bottom:0px;
}

#page h4.icon {
	background: url("list_wImages.png") 0px -1px no-repeat;
	padding-left:25px;
}

#top {
	background:url(title.jpg) repeat scroll 0 0 transparent;
    padding: 0px 0px;
	border-left:1px #cbdbfd solid;
	border-right:1px #cbdbfd solid;
	margin: 8px 0px 0px 0px;
	padding-bottom:1px;
	overflow: hidden;
	display:block;
}

#menu {
	list-style: none;
	margin-top: 2px;
	float:right;
}

#menu > li {
	margin-left: 0px;
	float: left;
}

#menu > li > a {
    text-decoration:none;
	border-left:#F6F6F6 1px solid;
	display: inline-block;
	padding: 8px 8px;
	color:#333;
}

#menu > li > a small {

	padding: 2px 4px 1px;
	font-weight: normal;
	margin-left: 4px;
	font-size: 7pt;
}

#menu > li > a:hover {
	
	color: #578ccd;
}

#menu > li > a:active, #menu > li.active > a {
	
	color: #578ccd;
}

#menu > li > a:hover small {
	
}

#menu > li > a small, #menu > li > a:active small, #menu > li.active > a small {

	color: #333333;
}

#menu > li:not(.active) > a:not(:active):hover small {
	
	color: #ffffff;
}

#menu .caret {
	border-top-color: #ffffff;
}

#menu > li.dropdown:not(.active) > a:not(:active):hover .caret {
	border-top-color: #444444;
}



.block, .panel {
	margin-bottom: 8px;
}


.ie #menu > li:hover > a {
	border: 1px solid #585a60;
	padding: 7px 8px;
}

.ie8 #menu .dropdown > a:hover > .caret {
	border-color: #333333 transparent transparent;
}

.ie #menu > li > a:active, .ie #menu > li.active > a {
	border: 1px solid #40434b;
	padding: 7px 8px;
}

.ie #menu > li > a small, .ie #menu > li > a:active small, .ie #menu > li.active > a small {
	margin: -2px 0px -5px 5px;
	border: 1px solid #585a60;
	display: inline-block;
}

.ie .block h2 {
	background: url("images/gradients.png") repeat-x;
}
.menu li {
	text-shadow: none;
	margin: 3px 0px;
}

.menu:before {
	content: "";
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	border-bottom: 7px solid #333333;
	position: absolute;
	left: 5px;
	top: -7px;
}

.menu:after {
	content: "";
	border-right: 6px solid transparent;
	border-left:6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
	left: 6px;
	top: -6px;
}

.menu .divider {
	border-bottom: 1px solid #e5e5e5;
}

.menu .divider.heading {
	color: #222222 !important;
	font-weight: bold;
	padding: 5px 10px;
}

.menu a {
	font-weight: normal !important;
	color: #555555 !important;
	padding: 6px 10px;
	display: block;
}

.menu li > a:hover, .menu li.active > a, .menu li.active > a:hover {
	border-bottom: 1px solid #70747d;
	border-top: 1px solid #70747d;
	background-color: #8d929e;
	color: #ffffff !important;
	padding: 5px 10px;
}


