BODY {
	SCROLLBAR-FACE-COLOR: #E8E8E8;
	SCROLLBAR-SHADOW-COLOR: #595959;
	SCROLLBAR-3DLIGHT-COLOR: #595959;
	SCROLLBAR-ARROW-COLOR: #595959;
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	SCROLLBAR-BASE-COLOR: #ffffff;
}

.topfont{
          line-height: 120%; 
}
.topfont1{
          font-size: 13px; 
}
.topfont2{
         font-size: 13px; 
         color:#FF954F;
}
.topfontb{
          font-size: 14px; 
          font-weight: bold;
}
.pagetitle {
	background-image: url(table_unfold_titlebar_small_bg.gif);
	background-repeat: repeat-x;
	background-position: left center;
	height: auto;
	font-size: 12px; 
	width: auto;
	border: thin none;
	height: 30px;
}
.InputFrameMain {
	border: 2px solid #d4d4d4;
	margin-top: 15px;
	margin-bottom: 5px;
	background-color: #F4F4F4;
}
.form_label {
	color: #123C66; 
	font-size: 12px; 
	line-height: 200%; 
	font-weight: normal; 
	text-align: right; 
	vertical-align: middle
}

.form_label2 {
	color: #123C66; 
	font-size: 12px; 
	line-height: 200%; 
	font-weight: normal; 
	text-align: left; 
	vertical-align: middle
}

.white_word{
	color: #333333; 
	font-size: 12px; 
	line-height: 200%; 
	font-weight: bold; 
    vertical-align: middle
}

.red_word{
	color: #ff0000; 
	font-size: 12px; 
	line-height: 200%; 
  vertical-align: middle
}

.inputright {
  background:url(images/input.gif) left top;
	letter-spacing: normal;
	text-align: right;
	vertical-align: middle;
	word-spacing: normal;
	white-space: normal;
}
.input_disabled {
	 background-color:#e0e0e0;
   text-align: left;
   letter-spacing: normal;
   vertical-align: middle;
   word-spacing: normal;
   white-space: normal;
   height:20px;
   BORDER-TOP:#B4C7D6 1px solid;
   BORDER-RIGHT:#B4C7D6 1px solid;
   BORDER-BOTTOM:#B4C7D6 1px solid;
   BORDER-LEFT:#B4C7D6 1px solid;
   height:19px; 
	 width:150px;
}
.inputright_disabled {
	 background-color:#e0e0e0;
   text-align: right;
   letter-spacing: normal;
   vertical-align: middle;
   word-spacing: normal;
   white-space: normal;
   height:20px;
   BORDER-TOP:#B4C7D6 1px solid;
   BORDER-RIGHT:#B4C7D6 1px solid;
   BORDER-BOTTOM:#B4C7D6 1px solid;
   BORDER-LEFT:#B4C7D6 1px solid;
}

.input{ 
   background:url(img/input_bg.jpg); 
   text-align: left;
   letter-spacing: normal;
   vertical-align: middle;
   word-spacing: normal;
   white-space: normal;
   height:20px;
   BORDER-TOP:#607499 1px solid;
   BORDER-RIGHT:#B4C7D6 1px solid;
   BORDER-BOTTOM:#B4C7D6 1px solid;
   BORDER-LEFT:#607499 1px solid;
   }

.inputright {
   background:url(img/input_bg.jpg); 
   text-align: right;
   letter-spacing: normal;
   vertical-align: middle;
   word-spacing: normal;
   white-space: normal;
   height:20px;
   BORDER-TOP:#607499 1px solid;
   BORDER-RIGHT:#B4C7D6 1px solid;
   BORDER-BOTTOM:#B4C7D6 1px solid;
   BORDER-LEFT:#607499 1px solid;

}

.inputarea{ 
   background:url(img/inputarea_bg.gif);
   text-align: left;
   letter-spacing: normal;
   vertical-align: middle;
   word-spacing: normal;
   white-space: normal;
   height:60;
   width:520;
   BORDER-TOP:#607499 1px solid;
   BORDER-RIGHT:#B4C7D6 1px solid;
   BORDER-BOTTOM:#B4C7D6 1px solid;
   BORDER-LEFT:#607499 1px solid;
   }

.span_label {
	color: #003366; 
	font-size: 12px; 
	line-height: 200%; 
	font-weight: normal; 
	vertical-align: middle
}

.top_label {
	color: #003366; 
	font-size: 12px; 
	vertical-align: middle
}

.button_labelleft {
	background:url(titleleft.jpg);
	width:8;
	
}
.button_labelright {
	background:url(titleright.jpg);
	width:8;
}
.button_label {
	background:url(title.jpg);
	height:31 px;
}
.inputtitle{
   background:url(inputtitle.jpg);
   height: 23px;
   color: #666666; 
   font-weight: bold; 
   font-size: 12px;
   
}
.inputtitleright{
   background-color:#f4f4f4;
   background:url(inputtitleright.jpg);
   background-repeat: no-repeat;
   height: 23px;
 
}
.bottombotton{
   background:url(bottombotton.jpg);
   height: 31px;
}

.titlefont{
   color: #666666; 
   font-weight: bold; 
   font-size: 12px;
   vertical-align: middle;
   background-color: #F4F4F4;
}

#sending{ 
 z-index:101;
}
#sendingdel{ 
 z-index:102;
}
#sendingback{ 
 z-index:103;
}
#sendingdraft{ 
 z-index:104;
}
#sendingbg{ 
 z-index:100;
 filter: Alpha(Opacity=50); 
 background-color: #ffffff;
}
#fadeinbox {
	BORDER-RIGHT: black 1px solid; 
	PADDING-RIGHT: 8px; 
	BORDER-TOP: black 1px solid; 
	PADDING-LEFT: 8px; 
	Z-INDEX: 100; LEFT: 0px; 
	VISIBILITY: hidden; 
	PADDING-BOTTOM: 8px; 
	BORDER-LEFT: black 1px solid; 
	WIDTH: 350px; 
	PADDING-TOP: 8px; 
	BORDER-BOTTOM: black 1px solid; 
	POSITION: absolute; TOP: -400px; 
	BACKGROUND-COLOR: lightyellow
}
#helpid{ 
 z-index:100;
 FILTER: progid:DXImageTransform.Microsoft.RandomDissolve(duration=1) progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
 background-color: lightyellow;
 color :#000000;
   BORDER-TOP:#000000 1px solid;
   BORDER-RIGHT:#000000 1px solid;
   BORDER-BOTTOM:#000000 1px solid;
   BORDER-LEFT:#000000 1px solid;
 text-align: center;
 font-size: 13px;
 
}

.index-class{
background-color:#5E7EAD;
border:1px solid #cccccc;

color:#FFFFFF;
}

.index-class a:link {
	text-decoration: none;
	font-size:14px;
	color:#ffffff;	
}

.index-class a:visited {
	text-decoration: none;
	font-size:14px;
	color:#ffffff;
}

.index-class a:hover {
	text-decoration: none;
	font-size:14px;
	color:#cccccc;
}

.index-class a:active {
	text-decoration: none;
	font-size:14px;
	color:#cccccc;
}
.edit{
font-size:12px;
}

#addnewconcentbg{ 
 filter: Alpha(Opacity=65); 
 background-color: #ffffff;
}
#addnewconcent{
border: 1px solid #000000;
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}