@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { vertical-align: baseline; background: transparent; font-size: 100%; padding: 0px; outline: 0px; margin: 0px; border: 0px; }
body { line-height: 1; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; content: ""; }
a { vertical-align: baseline; background: transparent; font-size: 100%; padding: 0px; margin: 0px; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0px; }
hr { padding: 0px; margin: 0px; }
input, select, button { margin: 0px; }
em { font-style: normal; }

body {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height:1.5;
	font-size:12px;
	background-color:#F8F8F8;
	background:#ffffff  repeat;
	color:#666;
	margin:0 auto;
}
a {
	outline:none;
}
#page
{
	margin-bottom:100px;
}


/* Grids
---------------------------------------------------------------------*/
fieldset
	{
	width:98%;
	}
.form .field, .form .actions {
	display: table;
	width: 98%;
}
legend {
	border-bottom: 1px solid #dddddd;
	font-weight: bold;
	padding: 10px 0px;
	font-size: 9pt;
	color: #666666;
	width: 100%;
	display:block;
}
.panel{ margin-bottom:10px;}
.colgroup {
	display:block;
	float:left;
}
.column {
	margin-left:18px;
	display:block;
	float:left;
}
.first {
	margin-left:2px;
	clear:left;
}
.width6 {
	width:48%;
}

.full {
	width:100%;
}
/* --2012-02-01 -- */

.col-name {
	width:150px;
}
table.table_form {
	background:#f6f6f6;
	border-collapse:collapse;
	width:98%;
}
 .table_form {
	font-size: 12px;
}

table.table_form th,  table.table_form td {
	border-bottom: 1px #ddd  solid;
	border-left:0px;
	border-right:0px;
	padding:.2em .2em;
	line-height:22px;
	vertical-align:middle;
}
table.table_form label.required:before {
	content:"*";
	color:red;
	padding-top:3px;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
}
 h4 {
	font-size: 14px;
	margin:10px 0;
	font-weight:bold;
}
 table.table_form {
	background:#f9f9f9;
	width:100%;
	border:0px;
}
 table.table_form th,  table.table_form td {
	padding:.2em .5em;
}
 table.table_form th {
	background: #f5f5f5;
	text-align:right;
}
tr:focus {
	background:#ffffff;
}
/*   表单样式   */
.input, .textarea {
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background-color: #ffffff;
	border: 1px solid #b5bac3;
	font-family: inherit;
	color: #525252;
	font-size: 9pt;
	padding: 5px;
	width: 200px;
}

input.search {
	vertical-align:middle;
	background:#fff url("search.gif") no-repeat 99% 56%;
	-moz-box-shadow:0 0;
	-webkit-box-shadow:0 0;
	box-shadow:0 0;
	cursor:pointer;
	float: left;
}
span.visiable,input.visiable {
	border:0px;
	margin-left:5px;
	padding: 5px;
	width:auto;
	border-bottom:1px solid #b5bac3;
}
input.disabled {
	border:0px;
	BACKGROUND: none transparent scroll repeat 0% 0%; 
}
input.searchdate {
	vertical-align:middle;
	background:#fff url("icon-calendar.png") no-repeat 99% 56%;
	-moz-box-shadow:0 0;
	-webkit-box-shadow:0 0;
	box-shadow:0 0;
	width:200px;
	cursor:pointer;
}
input.small {
	width:50px;
	margin-right:5px;
}
.chosen{
	min-width:200px;
	padding:4px;
	overflow:auto;
	}
input.half,select.half,textarea.half {
	/*width:40%;*/
}
input.full,select.full,textarea.full {
	width:78%;
}
input.find {
	width: 200px;
}
input.btn_find {
	width: 26px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: url("search.gif") transparent no-repeat  center center;
	border: 0px solid #b5bac3;
	border-left:1px;
	border-right:0px;
	height: 26px;
	text-indent: -9999px;
	padding:4px;
	float: left;
	cursor:pointer;
	margin-left: -27px;
	z-index:2;
}
.input:hover, .textarea:hover {
	border-color: #a0a6b2;
}

.input:focus, .textarea:focus {
	border-color: #767C87;
	background-color:#ebfdd7;
	
}

textarea {
	line-height:18px;
	overflow:auto;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.form .field, .form .actions {
	display: table;
	width: 100%;
}
 legend {
	border-bottom: 0px solid #dddddd;
	font-weight: bold;
	padding: 10px 0px;
	font-size: 9pt;
	color: #666666;
	width: 99%;
	display:block;
}

legend small {
	font-weight: normal;
	color: #999999;
	font-size: 7pt;
}
/* ---    --   */

/* ---   datatable --   */

table.table
{
	margin: 0;
	margin-top:8px;
	clear: both;
	overflow: hidden;
}

table.table
{
	margin: 0;
	width: 100%;
	padding: 0px 20px 10px 20px;
	border-collapse: collapse;
	border: 1px solid #cdcdcd;
}

table.table thead th
{
	
	 background: #f5f5f5;
	 background:url(browse1.jpg) repeat-x;
	 border-right: 1px solid #cdcdcd;
	 BORDER-BOTTOM: #6E7E98 1px solid; 
	 FONT-FAMILY: ; 
	 HEIGHT: 25px; 
	 TEXT-ALIGN: center;
	 vertical-align:middle;
}

table.table th.last
{
	border-right: none;	
}

table.table th.left
{
	text-align: left;   
}

table.table th.right,table.table td.right
{
	text-align: right;   
}

table.table th.center,table.table td.center
{
	text-align: center;   
}

table.table th.selected
{
	padding: 0;
	vertical-align: middle;
}

table.table th.selected input
{
	margin: 0;	
}

table.table td
{
	padding: 5px;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	background-color:transparent;
	word-break: keep-all;white-space:nowrap;
}

table.table td.last
{
	border-right: none;	
}

table.table td.category
{
	width: 10%;
	text-align: center;
}

table.table tfoot th {
	border-top: 1px solid black;
	background-color:#ffffe7;
	font-weight: bold;
	font-size:12px;
	padding:6px;
	border-right:1px solid #cccccc;
	table-layout:fixed;
}
table.table tfoot td {
	border-top: 1px solid black;
	font-weight: bold;
	padding:6px;
	border-right:1px solid #cccccc;
}

.table tbody tr:last-child td { border-bottom: 1px solid #ccc; }
.table tbody tr td:first-child { border-left: 1px solid #ddd; }
.table tbody tr td:last-child { border-right: 1px solid #ddd; }
.table tbody tr:hover td, .table tbody tr.selected td { background: #fffccc; color: #333; }

table.table tr.odd {
    background-color: #f7f7f7;
}
table.table tr.even {
    background-color: #FCFCFC;
}
a{ cursor:pointer;}
a.edit {
	background: url("edit.gif")  no-repeat;
	padding-left:14px;
	text-decoration:none;
	margin-right:5px;}
a.del {
	background: url("del.gif") 0px -1px no-repeat;
	padding-left:14px;
	text-decoration:none;
	margin-right:5px;
}
a.new {
	background: url("add.gif") 0px -1px no-repeat;
	padding-left:14px;
	text-decoration:none;
	margin-right:5px;
}
.dataTables_wrapper { position: relative; 
    clear: both;
	zoom: 1;
	margin:4px;
	margin-bottom:10px;/* ie */}
.dataTables_length, .dataTables_paginate { background:#eee;border: 1px solid #ccc;padding: 5px; }
.dataTables_paginate {border-top: 0; }
.dataTables_wrapper select {  padding: 5px; margin: 0; outline: none;
	-moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd; font-size: 11px; color: #666; 
}
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 5px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #2a2a2a;
	font-size: 12px;
	background-color: white;
}
.dataTables_filter input { border: 1px solid #ccc; padding: 6px 5px 7px 5px; width: 200px;}
.dataTables_filter { position: absolute; top: 8px; right:0px; }
.dataTables_info { position:relative; float:left; vertical-align:bottom; padding-top:8px;}
.dataTables_paginate { position:relative;float:right;text-align: right; line-height: 16px; }
.dataTables_paginate span { display: inline-block; }
.dataTables_paginate .paginate_button { 
	border: 1px solid #ccc; padding: 2px 5px; margin-left: 5px; font-weight: bold;margin-right:2px; background: #fcfcfc; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;  font-size: 11px;
	-moz-box-shadow: 1px 1px 2px #ddd; -webkit-box-shadow: 1px 1px 2px #ddd; box-shadow: 1px 1px 2px #ddd;
	cursor:pointer;
}
.dataTables_paginate .paginate_active { 
	border: 1px solid #222; background: #add363;  color: #fff; padding: 2px 5px; margin-left: 5px; font-weight: bold; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-size: 11px;margin-right:2px;
	cursor:pointer;
	text-decoration:underline;
}
.dataTables_paginate .paginate_button:hover { background: #ddd; border: 1px solid #ccc; cursor: pointer;  color: #333; }

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

/*
 * Row highlighting example
 */
table  tbody tr.even:hover, table  tbody tr.even td.highlighted {
	background-color: #ECFFB3;
	border:1px #960 solid;
}

table  tbody tr.odd:hover, table  tbody tr.odd td.highlighted {
	background-color: #E6FF99;
	border:1px #960 solid;
}

table  tr.even:hover {
	background-color: #ECFFB3;
}

table  tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

table  tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

table  tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

table  tr.odd:hover {
	background-color: #E6FF99;
}

table  tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

table  tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

table  tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}

/* Tables

/* Boxes
---------------------------------------------------------------------*/

.box {
	padding: 8px;
	margin-bottom:8px;
	color:#555;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#eee;
}
.box-info {
	padding-left: 32px;
	border-top:1px solid #B8E2FB;
	border-bottom:1px solid #B8E2FB;
	background:#E8F6FF url("information.png") no-repeat 8px 50%;
}
.box-warning{
	padding-left: 32px;
	border-top:1px solid #F2DD8C;
	border-bottom:1px solid #F2DD8C;
	background:#FFF5CC url("error.png") no-repeat 8px 50%;
}
.box-error{
	padding-left: 32px;
	border-top:1px solid #F8ACAC;
	border-bottom:1px solid #F8ACAC;
	background:#FFD1D1 url("exclamation.png") no-repeat 8px 50%;
}
.box-error-msg{
	margin-top:-8px;
	background:#FFF1F1;
	border-top:0 none;
	border-bottom:1px solid #FDDCDC;
	color:#664B4B;
	padding:12px;
}
.box-error-msg ol {
	margin-top: 0;
	margin-bottom: 0;
}
.box-success{
	padding-left: 32px;
	border-top:1px solid #BBDF8D;
	border-bottom:1px solid #BBDF8D;
	background:#EAF7D9 url("accept.png") no-repeat 8px 50%;
}

.box a:hover {
	background: transparent !important;
}
#imgdiv2{width:100%;}
#imgdiv2 ul {margin:0px;padding:0px;list-style:none;margin-top:0px;}
#imgdiv2 ul li{float:left}
#imgdiv2 ul li.first_li a{margin-left:0px;}
#imgdiv2 ul li a{border:1px solid #ccccc;-moz-border-radius:3px;display:block;padding:2px;margin:5px;
 text-decoration:none;width:42px;text-align:center;}
#imgdiv2 ul li span{ font-size:13px;margin-top:0px;display:block; text-align:center;color:#B73232;background:#fffff;padding:2px;}
#imgdiv1{width:100%;}
#imgdiv1 ul {margin:0px;padding:0px;list-style:none;margin-top:0px;}
#imgdiv1 ul li{float:left}
#imgdiv1 ul li.first_li a{margin-left:0px;}
#imgdiv1 ul li a{border:1px solid #ccccc;-moz-border-radius:3px;display:block;padding:2px;margin:2px;
 text-decoration:none;width:45px;text-align:center;}
#imgdiv1 ul li span{ font-size:13px;margin-top:0px;display:block; text-align:center;color:#B73232;background:#fffff;padding:2px;}
