

/*PSW_P_0-----未输入状态	PSW_P_1-----太短 	PSW_P_2-----很弱 	PSW_P_3-----一般 	PSW_P_4-----很强 */

.PSW_P_0,.PSW_P_1,.PSW_P_2,.PSW_P_3,.PSW_P_4{position:relative;height:30px;color:#666}/*密码强度容器*/
	.PSW_P_W{position:absolute;left:0px;top:3px}/*密码强度固定文字*/
	.PSW_P_BGC{position:absolute;left:0px;top:22px;width:235px!important;width:234px;height:4px;background-color:#E0E0E0; font-size:0px;line-height:0px}/*灰色强度背景*/
	.PSW_P_pC{float:left;font-size:0px;line-height:0px;height:4px}/*色块背景*/
	
	.PSW_P_0 span{display:none}
	.PSW_P_1 span{display:inline;color:#F00}
	.PSW_P_2 span{display:inline;color:#C48002}
	.PSW_P_3 span{display:inline;color:#2CA4DE}
	.PSW_P_4 span{display:inline;color:#063}
	
	.PSW_P_0 .PSW_P_pC{ width:0px}
	.PSW_P_1 .PSW_P_pC{ width:25%;background-color:#F00}
	.PSW_P_2 .PSW_P_pC{ width:50%;background-color:#F90}
	.PSW_P_3 .PSW_P_pC{ width:75%;background-color:#2CA4DE}
	.PSW_P_4 .PSW_P_pC{ width:100%;background-color:#063}
	
	
	
	
	
	
	
	